* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(255, 255, 255);
}

a,
ul,
li,
button {
  background: none;
  border: none;
  list-style-type: none;
  text-decoration: none;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

/* =========== Header =========== */
.header_content {
  display: flex;
  justify-content: space-between;
  padding-top: 109px;
  gap: 20px;
}

.header_h1 {
  font-family: Exo 2;
  font-size: 52px;
  font-weight: 600;
  line-height: 65px;
  text-align: left;
  color: rgb(54, 55, 56);
  margin-top: 80px;
}

.header_p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgb(107, 107, 108);
  margin-top: 40px;
}

.header_img2 {
  display: none;
}

.header_btn {
  width: 105px;
  height: 27px;
  top: 455px;
  text-align: start;
  color: rgb(54, 55, 56);
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  margin-top: 40px;
  text-decoration: underline 3px solid rgb(255, 206, 80);
}

@media screen and (max-width: 1120px) {
  .header {
    padding: 0 15px;
  }
}
@media screen and (max-width: 1060px) {
  .header {
    padding: 0 15px;
  }
  .header_content {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }
  .header_h1 {
    text-align: center;
  }
  .header_p {
    text-align: center;
  }
  .header .header__img {
    display: none;
  }
  .header_img2 {
    display: block;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  .header {
    padding: 0 15px;
  }
  .header_h1 {
    font-family: Exo 2;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    text-align: center;
  }
  .header_p {
    font-family: PT Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: center;
  }
}
/* ====== hero section ======= */
.hero_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
  padding: 40px 80px;
  gap: 44px;
  border-radius: 20px;
}

.hero_box {
  max-width: 300px;
}

.hero_h1 {
  font-family: Exo 2;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  text-align: left;
  color: rgb(54, 55, 56);
  margin-top: 24px;
}

.hero_p {
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgb(107, 107, 108);
  margin-top: 16px;
}

@media screen and (max-width: 1120px) {
  .hero_section {
    padding: 0 15px;
  }
}
@media screen and (max-width: 1060px) {
  .hero_wrapper {
    flex-direction: column;
  }
  .hero_box1 {
    width: 690px;
    display: flex;
    justify-content: center;
    gap: 40px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
    padding: 40px;
    border-radius: 20px;
  }
  .hero_box2 {
    width: 690px;
    display: flex;
    justify-content: center;
    gap: 40px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
    padding: 40px;
    border-radius: 20px;
  }
  .hero_box3 {
    width: 690px;
    display: flex;
    justify-content: center;
    gap: 40px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
    padding: 40px;
    border-radius: 20px;
  }
  .hero_wrapper {
    box-shadow: none;
  }
}
/* ==========  section one ============= */
.one_section {
  padding-bottom: 68px;
}
.one_section_img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=main.css.map */
